#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    align-items: center;
    font-size: 25px;
    width: 600px;
}

#app{
    flex: 1;
    border: 1px solid;
    margin-top: 10px;
    padding: 10px;
}

#pricecomp{
    flex:1;
    border: 1px solid;
    padding: 10px;
    margin-right: 10px;
}

#discountcomp{
    flex:1;
    border: 1px solid;
    padding: 10px;;
}